@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles/globals.css */

/* COLOURS */
:root {
    --off-white: #e8e0c5;
    --orange: #d6301a;
    --scene-color-1: #1C96B6;
}
/* END OF COLOURS */

/* FONTS */
@font-face {
    font-family: 'Druk Wide Heavy';
    src: url('./fonts/Druk-Wide-Heavy-Web.woff2') format('woff2');
    font-display: swap;
}

h1, h2 {
  font-family: 'Druk Wide Heavy', sans-serif;
}
/* END OF FONTS */

@media screen and (min-width: 640px) {
    .overlap-above {
        margin-top: -1.3em;
    }
}

a {
    text-transform: uppercase;
}

/* H5 AUDIO PLAYER */
.rhap_container {
    margin-top: 15px;
    background-color: transparent !important;
    box-shadow: none !important;
}

.rhap_time, .audio-player-track-title, .rhap_header {
    font-family: 'DM Mono', sans-serif;
}

.rhap_time {
    display: none;
}

.rhap_additional-controls {
    flex: none !important;
}

.rhap_header {
    color: var(--off-white);
    font-family: 'Druk Wide Heavy', sans-serif;
}

.song-title {
    display: inline-block;
}

/* AUDIO PLAYER COLOURS */
.rhap_volume-bar, .rhap_progress-bar {
    background-color: var(--off-white) !important;
}


.process-audio-player-section .rhap_main-controls-button, .process-audio-player-section .rhap_repeat-button, .process-audio-player-section .rhap_volume-button {
    color: var(--orange) !important;
}

.process-audio-player-section .rhap_progress-indicator, .process-audio-player-section .rhap_volume-indicator {
    background: var(--orange) !important;
}

/* SCENE */
.rhap_main-controls-button, .rhap_repeat-button, .rhap_volume-button {
    color: #1C96B6 !important;
}

.rhap_progress-indicator, .rhap_volume-indicator {
    background: #1C96B6 !important;
}
/* END OF H5 AUDIO PLAYER */

/* SOCIAL FOLLOW ICONS */
.social-icon {
    height: 45px !important;
    width: 45px !important;
}
/* END OF SOCIAL FOLLOW ICONS */

#scenes-home-link {
    height: 45px;
    width: 45px;
}

#scenes-logo path, #scenes-logo rect, #scenes-logo polygon {
    fill: var(--off-white);
}

/*.nav-list {
    display: flex;
    gap: 20px;
}*/



.submission-image {
    object-fit: contain;
    object-position: left;
}

/*.swiper {
    height: 300px;
}*/

/* SWIPER JS */
.swiper-lazy-preloader {
    color: var(--off-white);
    fill: var(--off-white);
    /*border-color: var(--off-white) !important;*/
}

.swiper-button-next, .swiper-button-prev {
    color: var(--off-white) !important;
}

.swiper-image {
    cursor: pointer;
    width: 100%;
}

@media screen and (max-width: 379px) {
    .swiper-image {
        width: 90%;
        margin: 0 auto;
    }
}
/* END OF SWIPER JS */

/* TYPEFORM */
.typeform-button, .button-primary {
    background-color: #d6301a;
    padding: 0.5em 1em;
    border-radius: 25px;
}
/* END OF TYPEFORM */

h2 span {
    /*display: inline-block;*/
    /*white-space: nowrap;*/
}

#scenes-logo {
    margin: 0 auto;
    height: auto;
    width: 700px;
    max-width: 100%;
    min-width: 200px;
}

.home-container {
    width: calc(100% - 2.5rem);
    border-color: var(--off-white);
}

.home-inner {
    border-color: var(--off-white);
}

/*.tf-v1-iframe-wrapper {
    width: 100% !important;
    height: 100% !important;
}

.tf-v1-popup .tf-v1-close {
    z-index: 10;
}*/

.tf-v1-popup {
    background-color: black !important;
}

.checkout-section {
    display: flex;
    flex-direction: column;
    width: 200px;
    margin-top: auto;
    margin-bottom: 10%;
    position: absolute;
    right: 0;
    top: 25%;
}

.checkout-section a button {
    background-color: #1C96B6 !important;
    text-transform: uppercase;
    padding-top: 11px !important;
}

/*.yarl__slide {
    width: 20%;
}*/

:root {
    --yarl__carousel_slides_count: 3;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    /*background-color: black;*/
    z-index: 1;
}

footer {
    background-color: black;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 10;
}

main.main-content {
    min-height: calc(100vh - 170px);
    /*min-height: 1000px;*/
    margin: 0 auto;
    margin-top: 77px;
    /*overflow: hidden;*/
}

/* REVEALER */
.revealer-grid-container.intro {
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    background: black;
    z-index: 11;
}

.revealer-grid-container.intro .revealer-grid-inner {
    border: solid 1px var(--off-white);
}

.revealer-grid-container.intro .revealer-grid-inner .content {
    width: calc(100% - 2rem);
    height: calc(100% - 2rem);
    margin: 1rem;
}

/*.revealer-grid-container.intro .revealer-grid-inner .content {
    width: calc(100% - 4rem);
    height: calc(100% - 4rem);
    margin: 2rem;
}*/

@media screen and (min-width: 480px) {
    .revealer-grid-container.intro .revealer-grid-inner .content {
        width: calc(100% - 4rem);
        height: calc(100% - 4rem);
        margin: 2rem;
    }
}

.revealer-grid-container.intro .content {
    height: 100%;
    border: solid 1px var(--off-white);
    padding: 1rem;
}

.revealer-grid {
   width: calc(100vw) !important;
   z-index: -1;
}

.intro-header-section {
    /*width: calc(100% - 4rem);*/
}



.revealer-grid-container .content {
    /*min-height: calc(100vh - 170px);*/
}

.reveal-page-content {
    height: 100%;
    width: 100%;
    padding-bottom: 93px;
}

@media screen and (max-width: 640px) {
    /*main.main-content {
        min-height: auto;
    }*/
}

.scene-article-container {
    overflow-x: hidden;
    /*overflow-y: hidden;*/
}

.scene-article {
    height: 100%;
    display: flex;
    flex-direction: column;
    /*overflow: hidden;*/
    padding-bottom: 93px;
}

.layer-image {
    object-fit: cover;
    object-position: top center;
}

@media screen and (max-width: 1773px) {
    .scene-article {
        /*overflow: hidden;*/
    }
}

.swiper {
    /*background-color: black;*/
}

.background-image-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    overflow: hidden;
    background-image: url('https://images.ctfassets.net/57idppycthif/4INV6AGCzs4529xwzORd96/593296fb9609c2e9b416fcde36b29971/Acutek___Flick_records.jpg?w=1080&q=75');
    background-size: cover;
    background-position: center;
    background-color: black;
    filter: brightness(50%) blur(7px); /* Adjust percentage to control darkness */
}

.background-image-container img {
    width: 100%; /* Makes the image responsive */
    height: auto; /* Maintains aspect ratio */
    display: block; /* Remove any extra space below the image */
    object-fit: cover;
    
}

.scene-header {
    font-size: clamp(18px, 16vw, 165px) !important;
    margin-bottom: 2rem;
}

.scene-title {
    font-size: inherit !important;
    text-wrap: nowrap;
    display: block;
}

/*.scene-image {
    position: absolute;
    top: 5vh;
}*/

.scene-image {
    display: block; /* Removes bottom space under the image */
    /*width: 100%;
    height: auto;*/
}

.audio-player-wrapper {
    width: 100%;
}

.scene-image-container {
    width: 450px;
    /*margin-top: calc(-1em * 0.6 / 2);*/
    margin-top: -0.22em;
    font-size: inherit;
}

.pay-button-wrapper .xmint-btn {
    background: #1C96B6;
}

.pay-button-wrapper .xmint-btn span {
    color: var(--off-white);
    padding-top: 2px;
    text-transform: uppercase;
}

@media screen and (min-width: 640px) {
    .scene-image-containe-2 {
        position: absolute;
        top: 100px;
        top: calc(1em * 1.55 / 2); /* Assuming a line-height of 1.5, adjust if different */
        /*transform: translateY(-50%);*/
        width: 100%;
        height: auto;
        text-align: center;
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 639px) {
    .scene-header {
        flex-wrap: wrap;
    }
    .scene-image-container {
        width: 92%;
        display: flex;
        justify-content: center;
    }
}

.page-subheading-container {
    margin-top: auto;
}

.page-subheading-container h2 {
    font-size: clamp(18px, 15vw, 200px) !important;
}

.audio-player-section {
    margin-top: auto;
    margin-bottom: 12%;
}

.process-audio-player-section {
    min-width: 300px;
    max-width: 400px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

/*.audio-player-track-title {
    background-color: white;
    color: black;
    padding: 4px 6px;
    text-align: center;
}*/

.scene-gallery-section {
    margin-top: auto;
    text-align: center;
    position: relative;
    /*overflow-x: hidden;*/
}

.audio-player-wrapper {
    /*width: 300px;*/
}

.background-image-container::after {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 2vw;
    left: 0;
    /*background-color: black;*/
    z-index: -1;
    /*background: linear-gradient(to bottom, transparent 0%, black 100%);*/
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 1) 90%);
}

.gallery-title {
    font-size: clamp(18px, 15vw, 165px) !important;
    /*font-size: clamp(18px, 13vw, 200px) !important;*/
    /*font-size: clamp(-128px, 6vw, -140px) !important;*/
    text-align: center;
    /*position: absolute;
    top: clamp(-160px, -11.3vw, -70px);
    left: 50%;
    transform: translateX(-50%);*/
    z-index: -1;
    /*transform: scale(1.3);*/
    margin-bottom: -0.22em;
    /*margin-left: -4%;*/
}

.swiper-gallery {
    /*background-color: black;*/
    max-width: 1400px;
}

