@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles/globals.css */

/* COLOURS */
:root {
    --off-white: '#e8e0c5'
}
/* END OF COLOURS */

/* FONTS */
@font-face {
    font-family: 'Druk Wide Heavy';
    src: url('./fonts/Druk-Wide-Heavy-Web.woff2') format('woff2');
    font-display: swap;
}

h1, h2, button {
  font-family: 'Druk Wide Heavy', sans-serif;
}
/* END OF FONTS */

a {
    text-transform: uppercase;
}

/* H5 AUDIO PLAYER */
.rhap_time {
    font-family: 'DM Mono', sans-serif;
}
/* END OF H5 AUDIO PLAYER */

/* SOCIAL FOLLOW ICONS */
.social-icon {
    height: 45px !important;
    width: 45px !important;
}
/* END OF SOCIAL FOLLOW ICONS */

#scenes-home-link {
    height: 45px;
    width: 45px;
}

#scenes-logo path, #scenes-logo rect, #scenes-logo polygon {
    fill: var(--off-white);
}

.nav-list {
    display: flex;
    gap: 20px;
}



.submission-image {
    object-fit: contain;
    object-position: left;
}

/*.swiper {
    height: 300px;
}*/

/* SWIPER JS */
.swiper-button-next, .swiper-button-prev {
    color: #FFFFFF !important;
}

.swiper-image {
    cursor: pointer;
}
/* END OF SWIPER JS */

/* TYPEFORM */
.typeform-button {
    background-color: #d6301a;
    padding: 0.5em 1em;
    border-radius: 25px;
}
/* END OF TYPEFORM */

h2 span {
    display: inline-block;
    /*white-space: nowrap;*/
}

#scenes-logo {
    margin: 0 auto;
    height: auto;
    width: 700px;
    max-width: 100%;
    min-width: 200px;
}

.home-container {
    width: calc(100% - 2.5rem);
}

/*.tf-v1-iframe-wrapper {
    width: 100% !important;
    height: 100% !important;
}

.tf-v1-popup .tf-v1-close {
    z-index: 10;
}*/

.tf-v1-popup {
    background-color: black !important;
}

.paper-checkout-section a button {
    background-color: #1C96B6 !important;
    text-transform: uppercase;
    padding-top: 11px !important;
}