.submission-image {
    object-fit: contain;
    object-position: left;
}

.typeform-button {
    background-color: #d6301a;
    padding: 0.5em 1em;
    border-radius: 25px;
}

h2 span {
    display: inline-block;
    /*white-space: nowrap;*/
}